---
import { getDetails } from "../api/main";
import AlbumDetails from "../components/details/AlbumDetails.astro";
import ArtistDetails from "../components/details/ArtistDetails.astro";
import PlaylistDetails from "../components/details/PlaylistDetails.astro";
import SongDetails from "../components/details/SongDetails.astro";
import MainLayout from "../layouts/MainLayout.astro";

const search = new URL(Astro.request.url).searchParams;

const type = search.get("type");
const id = search.get("id");

const details = await getDetails(type!, id!);


---

<MainLayout title={details.title ?? details.name ?? details?.[0]?.name ?? details?.[0]?.title ?? "Details"}>
  {type === "album" ? 
    <AlbumDetails album={details} /> : 
      type === "song" ? 
        <SongDetails song={details} /> : 
          type === "playlist" ? <PlaylistDetails playlist={details} /> :
          type === "artist" ? <ArtistDetails artist={details} /> : (
            <p>{type}</p>
            <p>{id}</p>
          )}
</MainLayout>
